version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URL=${MONGODB_URL}
      # Add other env vars here if needed
    volumes:
      - ./backend:/usr/src/app/backend
      - ./backend:/usr/src/app/backend
      - /usr/src/app/backend/node_modules
    restart: always
